body{
    background: #141414;
    color: white;

}

.container {
    display: inline-block;
}

.movie-container{
    display: flex;
    flex-direction: nowrap;
    overflow-x: auto;
    gap: 10px;
}
.movie-item{
    flex: 0 0  auto;
}


.poster {
    width: 300px;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
    
}